@import url('https://fonts.google.com/specimen/Montserrat');
@import url('https://fonts.google.com/specimen/Fraunces');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  min-height: 100vh;
  background-color: #f3eae3;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: absolute;
  font-size: 11px;
  bottom: 0;
  width: 100%;
}

footer a {
  color: hsl(228, 45%, 44%);
}

main {
  display: flex;
  height: 450px;
  width: 600px;
}

.content-container {
  background-color: #ffffff;
  border-radius: 0 10px 10px 0;
}

.content-container h1 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 700;
}

.product-name {
  margin-bottom: 30px;
}

.content-container h3 {
  font-size: 13px;
  letter-spacing: 4px;
  margin-bottom: 15px;
}

.picture-container,
.content-container {
  width: 50%;
}

main .picture-container img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px 0 0 10px;
  display: block;
}

main .picture-container img:nth-child(2) {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
  display: none;
}

.content-container {
  text-align: left;
  padding: 35px 30px;
}

.content-container p {
  letter-spacing: 1px;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.content-container h3,
.content-container p {
  font-family: 'Montserrat', sans-serif;
  color: #6b6d7c;
  font-weight: 500;
}

.button {
  background-color: #3d8168;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.button span {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.button img {
  margin-right: 10px;
}

.button:hover {
  background-color: #1a4031;
  cursor: pointer;
}

p {
  font-size: 14px;
}

.price h1 {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #3d8168;
}

.price span {
  margin-left: 25px;
  text-decoration: line-through;
  font-size: 14px;
  color: #6b6d7c;
}

@media screen and (max-width: 376px) {
  main {
    flex-direction: column;
    min-height: 100vh;
    padding: 25px 15px;
    margin-bottom: 25px;
  }

  .picture-container,
  .content-container {
    width: 100%;
  }

  .content-container {
    border-radius: 0 0 10px 10px;
  }

  div.picture-container > img:nth-child(1) {
    display: none;
  }

  div.picture-container > img:nth-child(2) {
    display: block;
  }
}
